/* line 11, ../sass/mode.scss */
canvas, #bacon-container, .simone-mode #simone {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 28, ../sass/mode.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 33, ../sass/mode.scss */
body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

/* line 43, ../sass/mode.scss */
#reload {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}

/* line 1, ../sass/_bacon.scss */
#bacon-container {
  padding: 10%;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

/* line 2, ../sass/_cat.scss */
.cat-mode #letter-i {
  background-image: url('../img/cat/cat-letter-i.png?1357583633');
}

/* line 7, ../sass/_cat.scss */
.cat-mode #letter-o {
  background-image: url('../img/cat/cat-letter-o.png?1357583633');
}

/* line 2, ../sass/_letters.scss */
#letter-i,
#letter-o {
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  width: 40%;
}
@media screen and (max-width: 1024px) {
  /* line 2, ../sass/_letters.scss */
  #letter-i,
  #letter-o {
    width: 60%;
  }
}
@media screen and (max-width: 480px) {
  /* line 2, ../sass/_letters.scss */
  #letter-i,
  #letter-o {
    width: 50%;
  }
}
@media screen and (max-width: 320px) {
  /* line 2, ../sass/_letters.scss */
  #letter-i,
  #letter-o {
    width: 60%;
  }
}

/* line 34, ../sass/_letters.scss */
#letter-i-container,
#letter-o-container {
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 42, ../sass/_letters.scss */
#letter-i-container {
  left: 0;
  right: 50%;
  text-align: right;
}

/* line 48, ../sass/_letters.scss */
#letter-o-container {
  left: 50%;
  right: 0;
  text-align: left;
}

/* line 1, ../sass/_home.scss */
.home-mode #pattern-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  text-align: center;
}
/* line 8, ../sass/_home.scss */
.home-mode #pattern {
  font-size: 14px;
  font-family: monospace;
  color: black;
  background: white;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 3px 6px;
}

/* line 1, ../sass/_pinata.scss */
#pinata-party-box {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}

/* line 8, ../sass/_pinata.scss */
#pinata {
  display: table-cell;
  opacity: 0;
  text-align: center;
  vertical-align: middle;
}
/* line 14, ../sass/_pinata.scss */
#pinata img {
  height: auto;
  width: 25%;
}
@media screen and (max-width: 768px) {
  /* line 14, ../sass/_pinata.scss */
  #pinata img {
    width: 30%;
  }
}
@media screen and (max-width: 568px) {
  /* line 14, ../sass/_pinata.scss */
  #pinata img {
    width: 25%;
  }
}
@media screen and (max-width: 480px) {
  /* line 14, ../sass/_pinata.scss */
  #pinata img {
    width: 30%;
  }
}
@media screen and (max-width: 320px) {
  /* line 14, ../sass/_pinata.scss */
  #pinata img {
    width: 45%;
  }
}

/* line 1, ../sass/_pong.scss */
.pong-mode body {
  background: #f9f9f9;
}
/* line 5, ../sass/_pong.scss */
.pong-mode #score {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #363636;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  height: 30px;
  pointer-events: none;
  padding: 0 20px;
  line-height: 30px;
  color: #d2d2d2;
}

/* line 1, ../sass/_simone.scss */
.simone-mode * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 5, ../sass/_simone.scss */
.simone-mode body {
  background: #2c2c2c;
  color: #fff;
  font-family: helvetica, sans-serif;
  font-size: 90%;
  position: relative;
}
/* line 13, ../sass/_simone.scss */
.simone-mode #message {
  left: 0;
  line-height: 1.5em;
  margin-top: -0.75em;
  position: absolute;
  text-align: center;
  top: 50%;
  right: 0;
}
/* line 23, ../sass/_simone.scss */
.simone-mode #simone {
  padding: 0 5%;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media screen and (orientation: landscape) {
  /* line 23, ../sass/_simone.scss */
  .simone-mode #simone {
    bottom: 10%;
    top: 10%;
  }
}
/* line 35, ../sass/_simone.scss */
.simone-mode #play-again {
  background: transparent url('../img/simone/refresh.svg?1357864793') no-repeat 50% 50%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  cursor: pointer;
  display: block;
  height: 3.5em;
  left: 50%;
  margin: 0 0 0 -1.5em;
  opacity: 0;
  position: relative;
  top: 50%;
  width: 3em;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  z-index: 1000;
}
/* line 50, ../sass/_simone.scss */
.simone-mode #max-level.game-over + #play-again {
  opacity: 1;
  margin-top: 2em;
}
/* line 56, ../sass/_simone.scss */
.simone-mode #levels {
  color: #fff;
  left: 50%;
  height: 20%;
  margin: -10% 0 0 -10%;
  position: absolute;
  top: 50%;
  width: 20%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 66, ../sass/_simone.scss */
.simone-mode #levels canvas {
  height: 100%;
  width: 100%;
}
/* line 71, ../sass/_simone.scss */
.simone-mode #max-level {
  background: #2c2c2c;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  border-radius: 1.5em;
  left: 50%;
  height: 3em;
  line-height: 3.2em;
  margin: -1.5em 0 0 -1.5em;
  position: relative;
  text-align: center;
  top: 50%;
  width: 3em;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
/* line 84, ../sass/_simone.scss */
.simone-mode #max-level.start {
  background: #424242;
}
/* line 88, ../sass/_simone.scss */
.simone-mode #max-level.game-over {
  background: #d53d2f;
  margin-top: -4em;
}
/* line 93, ../sass/_simone.scss */
.simone-mode #max-level.success {
  background: #069b5a;
}

.space-mode body {
  background: #000;
}
