/* line 5, ../sass/mode.scss */
canvas {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 13, ../sass/mode.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 18, ../sass/mode.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/_letters.scss */
#letter-i,
#letter-o {
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  width: 40%;
}
@media screen and (max-width: 1024px) {
  /* line 5, ../sass/_letters.scss */
  #letter-i,
  #letter-o {
    width: 60%;
  }
}
@media screen and (max-width: 320px) {
  /* line 5, ../sass/_letters.scss */
  #letter-i,
  #letter-o {
    width: 70%;
  }
}

/* line 30, ../sass/_letters.scss */
.cat-mode #letter-i {
  background-image: url('../img/cat/cat-letter-i.png?1357247339');
  -webkit-transform-origin: 50% 0px;
  -moz-transform-origin: 50% 0px;
  -ms-transform-origin: 50% 0px;
  -o-transform-origin: 50% 0px;
  transform-origin: 50% 0px;
}

/* line 42, ../sass/_letters.scss */
.cat-mode #letter-o {
  background-image: url('../img/cat/cat-letter-o.png?1357247339');
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 190ms ease-out;
  -moz-transition: all 190ms ease-out;
  -o-transition: all 190ms ease-out;
  transition: all 190ms ease-out;
}
/* line 47, ../sass/_letters.scss */
.cat-mode #letter-o.selected {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

/* line 54, ../sass/_letters.scss */
#letter-i-container,
#letter-o-container {
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  top: 0;
}

/* line 62, ../sass/_letters.scss */
#letter-i-container {
  left: 0;
  right: 50%;
  text-align: right;
}

/* line 68, ../sass/_letters.scss */
#letter-o-container {
  left: 50%;
  right: 0;
  text-align: left;
}

/* line 2, ../sass/_home.scss */
.home-mode #letter-i, .home-mode #letter-o {
  font-size: 200px;
  color: black;
}

/* line 1, ../sass/_pinata.scss */
#pinata-party-box {
  height: 100%;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
}
/* line 7, ../sass/_pinata.scss */
#pinata-party-box img {
  height: auto;
  width: 100%;
}

/* line 13, ../sass/_pinata.scss */
#pinata {
  margin: 0 auto;
  width: 15%;
}

/* line 18, ../sass/_pinata.scss */
#pinata-stick {
  left: 50%;
  margin: 0 0 0 -13px;
  padding: 10px;
  position: absolute;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transition: all 190ms ease-out;
  -moz-transition: all 190ms ease-out;
  -o-transition: all 190ms ease-out;
  transition: all 190ms ease-out;
  top: 0;
  width: 25px;
}
/* line 29, ../sass/_pinata.scss */
#pinata-stick.whack-off {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
/* line 33, ../sass/_pinata.scss */
#pinata-stick.whack-on {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}
