/* line 10, ../sass/mode.scss */
canvas {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 18, ../sass/mode.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 23, ../sass/mode.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 2, ../sass/_cat.scss */
.cat-mode #letter-i {
  background-image: url('../img/cat/cat-letter-i.png?1357242087');
  -webkit-transform-origin: 50% 0px;
  -moz-transform-origin: 50% 0px;
  -ms-transform-origin: 50% 0px;
  -o-transform-origin: 50% 0px;
  transform-origin: 50% 0px;
}

/* line 8, ../sass/_cat.scss */
.cat-mode #letter-o {
  background-image: url('../img/cat/cat-letter-o.png?1357242078');
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 190ms ease-in-out;
  -moz-transition: all 190ms ease-in-out;
  -o-transition: all 190ms ease-in-out;
  transition: all 190ms ease-in-out;
}
/* line 13, ../sass/_cat.scss */
.cat-mode #letter-o.selected {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
}

/* line 2, ../sass/_letters.scss */
#letter-i,
#letter-o {
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  width: 40%;
}
@media screen and (max-width: 1024px) {
  /* line 2, ../sass/_letters.scss */
  #letter-i,
  #letter-o {
    width: 60%;
  }
}
@media screen and (max-width: 480px) {
  /* line 2, ../sass/_letters.scss */
  #letter-i,
  #letter-o {
    width: 70%;
  }
}

/* line 30, ../sass/_letters.scss */
#letter-i-container,
#letter-o-container {
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  top: 0;
}

/* line 38, ../sass/_letters.scss */
#letter-i-container {
  left: 0;
  right: 50%;
  text-align: right;
}

/* line 44, ../sass/_letters.scss */
#letter-o-container {
  left: 50%;
  right: 0;
  text-align: left;
}

/* line 2, ../sass/_home.scss */
.home-mode #letter-i, .home-mode #letter-o {
  font-size: 200px;
  color: black;
}

/* line 1, ../sass/_pinata.scss */
#pinata-party-box {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}

/* line 8, ../sass/_pinata.scss */
#pinata {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 14, ../sass/_pinata.scss */
#pinata img {
  height: auto;
  width: 20%;
}
@media screen and (max-width: 480px) {
  /* line 14, ../sass/_pinata.scss */
  #pinata img {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  /* line 14, ../sass/_pinata.scss */
  #pinata img {
    width: 50%;
  }
}
@media screen and (max-width: 320px) {
  /* line 14, ../sass/_pinata.scss */
  #pinata img {
    width: 50%;
  }
}

/* line 1, ../sass/_pong.scss */
.pong-mode body {
  background: black;
}
