// long cat
.letter-i {
  background-image: image-url('cat/letter-i.png');
  background-position: right center;
  bottom: 15%; 
  left: 0;
  right: 66%;
  top: 15%;
}

// hover cat
.letter-o {
  background-image: image-url('cat/letter-o.png');
  bottom: 5%;
  left: 50%;
  right: 0;
  top: 5%;
}

.letter-i, .letter-o {
  background-color: transparent;
  background-repeat: no-repeat;
  @include background-size(auto 100%);
  cursor: pointer;
  display: inline-block;
  position: absolute;
}