label {
  font: 12px/22px "Arial";
}

.code, .back {
  display: none;
}

.bounds {
  background-image: image-url('eightbit/slash+13+8bit.svg');
}

#group-sliders {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  padding: 10px 20px;

  .kill-on & {
    background: rgba(249, 249, 249, 0.75);
  }
}

#pan-label, #pixel-label, #pan, #pixel {
  display: block;
}

#pan, #pixel {
  cursor: pointer;
}

#pixel-label {
  margin-top: 5px;
}

#group-killscreen {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  padding: 10px 20px;

  .kill-on & {
    background: rgba(249, 249, 249, 0.75);
  }
}

#demo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}

#canvas-wrapper {
  position: absolute;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #5096ff;
}