#nav {
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 20px;
  right: 20px;
  height: 35px; }
  #logo {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 30px;
    cursor: pointer; }
  #menu {
    opacity: 0.5;
    position: absolute;
    top: 3px;
    right: 0;
    width: 23.6px;
    height: 20px;
    cursor: pointer; }

#pattern {
  display: none;
  border: 1px solid #393939;
  height: 34px; 
  @include border-radius(17px);
  background-color: #fff;
  border: 2px solid #f3f3f3;
  padding: 3px 5px 0 10px;
  line-height: 30px;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  bottom: 100px;
  left: 50%;
  &.success {
    background: green;
  }
  &.failure {
    background: red;
  }
}

#date {
  font-family: 'Open Sans';
  font-size: 22px;
  color: rgba(black, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  text-align: center; }