#nav {
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 20px;
  right: 20px;
  height: 35px; }
  #logo {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 30px;
    cursor: pointer; }
  #menu {
    opacity: 0.5;
    position: absolute;
    top: 3px;
    right: 0;
    width: 23.6px;
    height: 20px;
    cursor: pointer; }

#pattern-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  text-align: center; }

#pattern {
  font-size: 14px;
  font-family: monospace;
  color: black;
  background: white;
  display: inline-block;
  @include border-radius(5px);
  border: 1px solid black;
  padding: 3px 6px; }