#nav,
#nav-fallback {
  position: absolute;
  z-index: 1000;
  top: 25px;
  left: 30px;
  right: 30px;
  height: 35px;

  @include screen($break-medium) {
    top: 15px;
    left: 15px;
    right: 20px;
  }

  & .plusone {
    position: absolute;
    top: 4px;
    left: 103px;
  }
}
  #logo,
  #logo-fallback {
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 30px;
    cursor: pointer;
    background: image-url('shared/logo-google-fallback.png') no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;

    .svg & {
      background-image: image-url('shared/logo-google.svg');
      @include background-size(85px 30px);
    }
  }

  #menu,
  #menu-fallback {
    display: none;
    opacity: 0; }

  #nav-full,
  #nav-full-fallback {
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px;

    .nav {
      @include float-right;
      @include no-bullets;
      margin: 0;
      padding: 0;

      a {
        text-decoration: none; }

      a, label {
        color: #464646;
        font-size: 17px; }

      .nav-item {
        @include float-left;
        position: relative;
        margin: 0 0 0 30px;

        &:first-child {
          margin-left: 0; }
      }

      .has-dropdown {
        label {
          background: transparent image-url('shared/dropdown-arrow.png') no-repeat right center;
          cursor: pointer;
          display: block;
          margin: 0 0 30px 0;
          padding: 0 21px 0 0; }

        &:hover label {
          background-image: image-url('shared/dropdown-arrow-hover.png');
        }

        &:hover .nav-dropdown {
          display: block; }
      }

      .nav-dropdown {
        background: #fff;
        border-top: 10px solid #d1d1d1;
        border-right: 1px solid #d1d1d1;
        border-bottom: 1px solid #d1d1d1;
        border-left: 1px solid #d1d1d1;
        @include box-shadow(rgba(black, 0.25) 0 0 10px);
        display: none;
        @include min-width(220px);
        margin: 0;
        padding: 0;
        position: absolute;
        top: 30px;
        right: 0;
        z-index: 10000;

        .dropdown-item {
          border-bottom: 1px solid #ededed;
          display: block;

          &:last-child {
            border-bottom-color: transparent; }

          a {
            display: block;
            padding: 8px 15px; }
        }
      }
    }
  }

  &.no-touch #nav-full .nav a:hover,
  &.no-touch #nav-full .nav label:hover,
  &.no-touch #nav-full-fallback .nav a:hover,
  &.no-touch #nav-full-fallback .nav label:hover {
    color: #000;
    @include transition(color 200ms ease-out);
  }

  @include screen($break-medium) {
    #nav-full,
    #nav-full-fallback {
      display: none; }

    #menu,
    #menu-fallback {
      display: block;
      opacity: 1;
      position: absolute;
      top: -4px;
      right: -10px;
      width: 35px;
      height: 31px;
      cursor: pointer;
      background-image: image-url('shared/menu-fallback.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      @include background-size(20px 17px);

      .svg & {
        background-image: image-url('shared/menu.svg');
      }
    }

    &.nav-visible #menu,
    &.nav-visible #menu-fallback {
      @include border-radius(2px);
      @include box-shadow(rgba(black, 0.15) 1px 1px 2px inset);
      background-color: #d1d1d1;
      background-image: image-url('shared/menu-down-fallback.png');
      display: block;

      .svg & {
        background-image: image-url('shared/menu-down.svg');
      }
    }
  }

#pattern {
  display: none;
  border: 1px solid #393939;
  height: 34px;
  @include border-radius(17px);
  background-color: #fff;
  border: 2px solid #f3f3f3;
  padding: 2px 5px 0 10px;
  line-height: 30px;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  bottom: 5%;
  left: 50%;
  &.success {
    background: #0AA159;
  }
  &.failure {
    background: #D64036;
  }
}

#date,
#date-fallback {
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 18px;
  color: #464646;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  text-align: center;

  & span {
    display: block;
    padding: 0 5%;
    color: #acacac;
    margin-top: 11px;
  }

  @include screen($break-medium) {
    font-size: 19px;
    z-index: 100;

    & span {
      font-size: 14px;
    }
  }
}

#modal,
#modal-fallback {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  display: none; }
  &.nav-visible #modal,
  &.nav-visible #modal-fallback {
    display: block; }

  #dropdown,
  #dropdown-fallback {
    position: absolute;
    top: 50px;
    right: 10px;
    background: white;
    border-top: 10px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    @include box-shadow(rgba(black, 0.25) 0 0 10px);
    @include min-width(220px);
    .item {
      display: block;
      font-size: 17px;
      font-family: 'Open Sans';
      color: #555555;
      border-bottom: 1px solid #ededed;
      padding: 15px;
      text-decoration: none;
      &:last-child {
        border-bottom: 0; }

      @include screen($break-medium) {
        font-size: 20px;
      }
    }

    @media screen and (max-height: 310px) {
      bottom: 10px;
      max-height: 100%;

      .item {
        padding: 4% 20px;
      }
    }
  }

&.no-touch #dropdown .item:hover,
&.no-touch #dropdown-fallback .item:hover {
  color: #000; }