#nav {
  position: absolute;
  z-index: 1000;
  top: 30px;
  left: 30px;
  right: 30px;
  height: 35px; }
  #logo {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 30px;
    cursor: pointer; }

  #menu {
    display: none;
    opacity: 0; }

  #nav-full {
    position: absolute;
    top: -9px;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px;

    .nav {
      @include float-right;
      @include no-bullets;
      margin: 0;
      padding: 0;

      a {
        text-decoration: none; }

      a, label {
        color: #464646;
        font-size: 17px; }

      .nav-item {
        @include float-left;
        position: relative;
        margin: 0 0 0 30px;

        &:first-child {
          margin-left: 0; }
      }

      .has-dropdown {
        label {
          background: transparent image-url('shared/dropdown-arrow.png') no-repeat right center;
          cursor: pointer;
          display: block;
          margin: 0 0 30px 0;
          padding: 0 15px 0 0; }

        &:hover  .nav-dropdown {
          display: block; }
      }

      .nav-dropdown {
        background: #fff;
        border-top: 10px solid #d1d1d1;
        border-right: 1px solid #d1d1d1;
        border-bottom: 1px solid #d1d1d1;
        border-left: 1px solid #d1d1d1;
        @include box-shadow(rgba(black, 0.25) 0 0 10px);
        display: none;
        @include min-width(220px);
        margin: 0;
        padding: 0;
        position: absolute;
        top: 40px;
        right: 0;

        .dropdown-item {
          border-bottom: 1px solid #ededed;
          display: block;

          &:last-child {
            border-bottom-color: transparent; }

          a {
            display: block;
            padding: 15px; }
        }
      }
    }
  }

  &.no-touch #nav-full .nav a:hover,
  &.no-touch #nav-full .nav label:hover {
    color: #000;
    @include transition(color 200ms ease-out);
  }

  @include screen($break-medium) {
    #nav-full {
      display: none; }

    #menu {
      display: block;
      opacity: 0.5;
      position: absolute;
      top: -4px;
      right: -10px;
      width: 32px;
      height: 32px;
      cursor: pointer;
      background-image: image-url('shared/menu.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      @include background-size(20px 17px); }
    .nav-visible #menu {
      @include border-radius(2px);
      @include box-shadow(rgba(black, 0.15) 1px 1px 2px inset);
      background-color: #d1d1d1;
      background-image: image-url('shared/menu-down.svg');
      display: block; }
  }

#pattern {
  display: none;
  border: 1px solid #393939;
  height: 34px; 
  @include border-radius(17px);
  background-color: #fff;
  border: 2px solid #f3f3f3;
  padding: 3px 5px 0 10px;
  line-height: 30px;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  bottom: 5%;
  left: 50%;
  &.success {
    background: #0AA159;
  }
  &.failure {
    background: #D64036;
  }
}

#date {
  font-family: 'Open Sans';
  font-size: 22px;
  color: rgba(black, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  text-align: center; }

#modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  display: none; }
  .nav-visible #modal {
    display: block; }

  #dropdown {
    position: absolute;
    top: 65px;
    right: 20px;
    background: white;
    border-top: 10px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    @include box-shadow(rgba(black, 0.25) 0 0 10px);
    @include min-width(220px);
    .item {
      display: block;
      font-size: 17px;
      font-family: 'Open Sans';
      color: #555555;
      border-bottom: 1px solid #ededed;
      padding: 15px;
      text-decoration: none;
      &:last-child {
        border-bottom: 0; }
    }
  }

&.no-touch #dropdown .item:hover {
  color: #000; }