.letter-i,
.letter-o {
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @include background-size(100% auto);
  @include box-sizing(border-box);
  cursor: pointer;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.letter-i-container,
.letter-o-container {
  bottom: 0;
  position: absolute;
  top: 0;
  @include transition(all 190ms ease-out);
}

.letter-i-container {
  left: 0;
  right: 60%;
  text-align: right;

  @include landscape() {
    left: 15%; 
  }
}

.letter-o-container {
  left: 50%;
  right: 5%;
  text-align: left;

  @include landscape() {
    right: 20%;
  }
}