.letter-i,
.letter-o {
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @include background-size(100% auto);
  @include box-sizing(border-box);
  cursor: pointer;
  display: inline-block;
  height: 100%;
  width: 40%;

  @include screen($break-large) {
    width: 65%;
  }

  @include screen($break-small) {
    width: 80%;
  }

  @include screen($break-smallest) {
    width: 100%;
  }
}

.letter-i-container,
.letter-o-container {
  bottom: 0;
  position: absolute;
  top: 0;
  // @include transform(translate3d(0, 0, 0));
}

.letter-i-container {
  left: 0;
  right: 65%;
  text-align: right;
}

.letter-o-container {
  left: 45%;
  right: 5%;
  text-align: left;
}