#letter-i,
#letter-o {
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @include background-size(100% auto);
  @include box-sizing(border-box);
  display: inline-block;
  height: 100%;
  width: 40%;

  @include screen($break-large) {
    width: 60%;
  }

  @include screen($break-small) {
    width: 50%;
  }

  @include screen($break-smallest) {
    width: 60%;
  }
}

#letter-i-container,
#letter-o-container {
  bottom: 0;
  @include box-sizing(border-box);
  position: absolute;
  top: 0;
  @include transform(translate3d(0, 0, 0));
}

#letter-i-container {
  left: 0;
  right: 50%;
  text-align: right;
}

#letter-o-container {
  left: 50%;
  right: 0;
  text-align: left;
}