@import "compass";
@import "compass/css3/transition";
@import "compass/css3/user-interface";
@import "media-queries";

$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;

$break-small: 568px;
$break-smallest: 320px;
$break-medium: 768px;
$break-large: 1024px;

* {
  @include box-sizing(border-box);
}

body {
  background: #f9f9f9;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  @include user-select(none);
}

%dark-mode {
  .code, .back {
    background-color: #262626;
    border: 2px solid #393939;
  }

  .back {
    background-image: image-url('shared/close-dark.svg'); }

  .i {
    background-image: image-url('shared/i-dark.svg'); }

  .o {
    background-image: image-url('shared/o-dark.svg'); }
}

.code, .back {
  position: absolute;
  top: 2.5%;
  border: 1px solid #393939;
  height: 34px; 
  @include border-radius(17px);
  z-index: 1000;
  background-color: #fff;
  border: 2px solid #f3f3f3;
}
.code {
  padding: 3px 5px 0 10px;
  line-height: 30px;
  left: 2%;
  pointer-events: none;
}
.back {
  right: 2%;
  width: 34px;
  cursor: pointer;
  background-size: 16px 16px;
  background-position: 7px 7px;
  background-repeat: no-repeat; 
  background-image: image-url('shared/close-light.svg');
}
.i {
  width: 4px;
  height: 16px;
  display: inline-block;
  background-size: 4px 16px;
  background-repeat: no-repeat;
  margin-right: 5px;
  background-image: image-url('shared/i-light.svg');
  .failure &, .success & {
    background-image: image-url('shared/i-active.svg'); }
}
.o {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  margin-right: 5px;
  background-image: image-url('shared/o-light.svg');
  .failure &, .success & {
    background-image: image-url('shared/o-active.svg'); }
}

@mixin landscape()
{
  @media screen and (orientation:landscape)
  {
    @content;
  }
}

%absolute-full {
  bottom: 0;
  left: 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

// html, body {
//   height: 100%;
//   min-height: 100%;
// }

// body {
//   background-color: #f9f9f9;
//   margin: 0;
//   padding: 0;
// }

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.reload {
  background-color: rgba(255,255,255,0.8);
  background-image: image-url('shared/refresh.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @include background-size(2em);
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.bacon-mode {
  @import "bacon";
}

.cat-mode {
  @import "letters";
  @import "cat";
}

.home-mode {
  @import "home";
  @import "draw-modes";
}

.pinata-mode {
  @import "pinata";
}

.pong-mode {
  @import "pong";
}

.simone-mode {
  @extend %dark-mode;
  background: #2c2c2c;
  color: #fff;
  font-size: 90%;
  position: relative;
  @import "simone";
}

.song-mode {
  @import "song";
}

.space-mode {
  @extend %dark-mode;
  background: #000;
  @import "space";
  @import "draw-modes";
}

.synth-mode {
  @import "synth";
}

.metaball-mode {
  @import "metaball";
  @import "draw-modes";
}

.ascii-mode {
  @extend %dark-mode;
  background: #000;
  color: #fff;
  @import "ascii";
  @import "draw-modes";
}

.eightbit-mode {
  @import "draw-modes";
}

@import "fun-modes";