#pinata-party-box {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}

#pinata {
  display: table-cell;
  opacity: 0;
  text-align: center;
  vertical-align: middle;

  img {
    height: auto;
    width: 25%;

    @include screen(768px) {
      width: 30%;
    }

    @include screen(568px) {
      width: 25%;
    }

    @include screen(480px) {
      width: 30%;
    }

    @include screen(320px) {
      width: 45%;
    }
  }
}