.letter-i {
  @include transform-origin(center bottom, false);
}

.letter-o, #cracked, [id*=part-] {
  @include transform-origin(50% 50%, false);
}

#cracked {
  @include transform(translate3d(0,0,0));
}

[id*=part-] {
  @include transition(all 190ms ease-out);
}

#pinata-canvas {
  pointer-events: none;
  position: absolute;
}