* {
  @include box-sizing(border-box);
}

body {
  background: #2c2c2c;
  color: #fff;
  font-family: helvetica, sans-serif;
  font-size: 100%;
  position: relative;
}

#message {
  left: 0;
  line-height: 1.5em;
  margin-top: -0.75em;
  position: absolute;
  text-align: center;
  top: 50%;
  right: 0;
}

#simone {
  @extend %absolute-full;
  padding: 0 5%;
  text-align: center;
  @include user-select(none);

  @include landscape() {
    bottom: 10%;
    top: 10%;
  }
}

#play-again {
  background: transparent image-url('simone/refresh.svg') no-repeat 50% 50%;
  @include background-size(100%);
  cursor: pointer;
  display: block;
  height: 3.5em;
  left: 50%;
  margin: 0 0 0 -1.5em;
  opacity: 0;
  position: relative;
  top: 50%;
  width: 3em;
  @include transition(all 200ms ease-in);
  z-index: 1000;
}
  #max-level.game-over + #play-again {
    opacity: 1;
    margin-top: 2em;
  }
  
  
#levels {
  color: #fff;
  left: 50%;
  height: 20%;
  margin: -10% 0 0 -10%;
  position: absolute;
  top: 50%;
  width: 20%;
  @include user-select(none);

  canvas {
    height: 100%;
    width: 100%;
  }
}
  #max-level {
    background: #2c2c2c;
    @include border-radius(1.5em);
    left: 50%;
    height: 3em;
    line-height: 3.2em;
    margin: -1.5em 0 0 -1.5em;
    position: relative;
    text-align: center;
    top: 50%;
    width: 3em;
    @include transition(all 200ms ease-in);

    &.start {
      background: #424242;
    }

    &.game-over {
      background: #d53d2f;
      margin-top: -4em;
    }

    &.success {
      background: #069b5a;
    }
  }