body {
  background-color: #f8f8f8;
  color: #959595;
  font-family: helvetica, arial;
  font-size: 110%;

  @include iphone() {
    font-size: 90%;
  }
}

#instruments {
  @extend %absolute-full;
  padding: 5% 0;
  @include transform(translate3d(0, 0, 0));
  @include user-select(none);

  .shape {
    opacity: 0.75;
    pointer-events: none;
    @include transform-origin(50% 50%, false);
    @include transition(opacity 190ms ease-out);
  }

  .original {
    cursor: pointer;
  }
}

#song-styles {
  bottom: 10%;
  left: 0;
  height: 1.75em;
  position: absolute;
  right: 0;
  text-align: center;

  @include landscape() {
    bottom: 5%;
  }

  ul {
    @include horizontal-list(0);
    display: inline-block;
    line-height: 1.75em;

    li {
      border-bottom: 0.25em solid transparent;
      margin-left: 1.75em;

      &:first-child {
        margin-left: 0;
      }

      &.active {
        border-bottom-color: #959595;
      }
    }
  }
}