body {
  background-color: #f8f8f8;
  color: #959595;
  font-family: helvetica, arial;
  font-size: 110%;

  @include iphone() {
    font-size: 90%;
  }
}

#instruments {
  @extend %absolute-full;
  padding: 5% 0;
  @include transform(translate3d(0, 0, 0));
  @include user-select(none);

  .shape {
    opacity: 0.75;
    pointer-events: none;
    @include transform-origin(50% 50%, false);
    @include transition(opacity 190ms ease-out);
  }

  .instrument {
    cursor: pointer;
  }
}

#song-styles {
  bottom: 10%;
  left: 0;
  height: 1.75em;
  position: absolute;
  right: 0;
  text-align: center;

  @include landscape() {
    bottom: 5%;
  }

  ul {
    @include horizontal-list(0);
    display: inline-block;
    line-height: 1.75em;

    li {
      border-bottom: 0.25em solid transparent;
      cursor: pointer;
      margin-left: 1.75em;
      @include transition(border-bottom 190ms ease-out);

      &:first-child {
        margin-left: 0;
      }

      &.active {
        border-bottom-color: #959595;
      }

      &#drumkit {
        background: transparent image-url('song/drums.svg') no-repeat center center;
        @include background-size(90% auto);
        border-bottom: none;
        @include border-radius(3px);
        @include hide-text;
        line-height: 1.95em;
        @include transition(background-color 190ms ease-out);
        width: 2em;

        &.active {
          background-color: #dcdcdc;
        }

        &.tabbing {
          background-color: darken(#dcdcdc, 5%);
        }
      }
    }
  }
}

&.no-touch #song-styles ul li#drumkit:hover {
  background-color: darken(#dcdcdc, 5%);
}