/*#controls {
  display: table;
  position: absolute;
  text-align: center;

  display: none;

  ul {
    @include no-bullets;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;

    li {
      height: 1.5em;
      line-height: 1.5em;
    }

    input {
      vertical-align: middle;
      width: 80%;
    }
  }
}*/

/*#states {
  position: absolute;
  top: 10%;
  left: 2%;
  display: none;
}*/

canvas {
  z-index: 0;
}

#waveforms {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  pointer-events: none;

  li {
    margin: 10% 0;
  }
    li:first-child {
      margin-top: 24%;
    }
    svg {
      height: 15%;
      width: 50%;
    }
    .on path, .on polyline, .on line {
      stroke: #ffffff;
    }


}
