#controls-container {
  @extend %absolute-full;
  height: 100%;
  padding: 2% 20%;
  width: 100%;

  @include screen($break-medium) {
    padding: 2% 10%;
  }

  #sine-graph {
    z-index: -1;
  }
}

#controls {
  display: table;
  position: absolute;
  text-align: center;

  display: none;

  ul {
    @include no-bullets;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;

    li {
      height: 1.5em;
      line-height: 1.5em;
    }

    input {
      vertical-align: middle;
      width: 80%;
    }
  }
}

#states {
  position: absolute;
  top: 10%;
  left: 2%;
}

#waveforms {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  pointer-events: none;
  
  .on {
    font-weight: bold;
  }
}