@import "compass";

body {
  margin: 0;
  padding: 0;
  -ms-touch-action: none;
}

.mode {
  border: 0;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

#wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

@import "mode";