@import "compass";
@import "compass/css3/transition";
@import "media-queries";

%absolute-full {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  @extend %absolute-full;
}

@import "letters";
@import "home";
@import "pinata";
