@import "compass";
@import "compass/css3/transition";
@import "compass/css3/user-interface";
@import "media-queries";

$break-small: 480px;
$break-smallest: 320px;
$break-medium: 768px;
$break-large: 1024px;

* {
  @include box-sizing(border-box);
}

body {
  @include user-select(none);
}

#code, #back {
  position: absolute;
  top: 2.5%;
  border: 1px solid #393939;
  height: 34px; 
  @include border-radius(17px);
  z-index: 1000;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  .dark & {
    background-color: #262626;
    border: 2px solid #393939;
  }
}
#code {
  padding: 3px 5px 0 10px;
  line-height: 30px;
  left: 2%;
  pointer-events: none;
  @include transition(left 200ms ease-out);

  .dark & {
  }

  @include iphone-landscape() {
    left: -110%;
  }
}
#back {
  right: 2%;
  width: 34px;
  cursor: pointer;
  background-size: 16px 16px;
  background-position: 7px 7px;
  background-repeat: no-repeat; 
  background-image: image-url('shared/close-light.svg');
  .dark & {
    background-image: image-url('shared/close-dark.svg'); }
}
.i {
  width: 4px;
  height: 16px;
  display: inline-block;
  background-size: 4px 16px;
  background-repeat: no-repeat;
  margin-right: 5px;
  background-image: image-url('shared/i-light.svg');
  .dark & {
    background-image: image-url('shared/i-dark.svg'); }
}
.o {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  margin-right: 5px;
  background-image: image-url('shared/o-light.svg');
  .dark & {
    background-image: image-url('shared/o-dark.svg'); }
}

%absolute-full {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin landscape()
{
  @media screen and (orientation:landscape)
  {
    @content;
  }
}


html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

canvas {
  @extend %absolute-full;
}

#reload {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.8);
  display: none;
}

@import "bacon";
@import "cat";
@import "letters";

.home-mode {
  @import "home";
}

@import "pinata";

.pong-mode {
  @import "pong";
}

.simone-mode {
  @import "simone";
}

.song-mode {
  @import "song";
}

.space-mode {
  @import "space";
}
